<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OVR_Dash_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OVR_Dash_Manager.Properties.Settings>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FastSwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseOculusServicesOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOculusClientOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamVRFocusFix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExitLinkOn_UserExit_SteamVR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseOculusClientOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Minimize_Oculus_Client_OnClientStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hover_Activation_Time" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Ignore_SteamVR_Status_HoverButtonAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuestPolling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Automatic_Audio_Switching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Normal_Speaker_ID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Quest_Speaker_ID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Normal_Speaker_GUID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="Quest_Speaker_GUID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="Auto_Audio_Change_DefaultCommunication" serializeAs="String">
                <value>False</value>
            </setting>
        </OVR_Dash_Manager.Properties.Settings>
    </userSettings>
</configuration>